<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Login</title>
    <meta charset="utf-8"/>
</head>
<body>
<div>
    <p>Witaj! Proszę zaloguj się aby korzystać z serwisu.</p>
    <p>Jeżeli nie jesteś jeszcze zaresjstrowany, proszę, oto <a href="register_form.html"> link do rejestracji</a> :)</p>
<form action='/bach/session/login' method='POST'>
    <p><input type='text' name='username' placeholder='Nazwa użytkownika'/></p>
    <p><input type='password' name='password'/></p>
    <p><input type='submit' value='Zaloguj'/></p>
</form>
</div>
</body>
</html>
